.cardsWrapper{
    max-width: 1250px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    gap: 40px;
}

@media (max-width: 800px) {
    .cardsWrapper{
        display: flex;
        justify-content: center;
    }
  }