.link{
    text-decoration: none;
    color: black;
    
}

.homework{
    width: 340px;
    height: 460px;
    font-family: 'Inter', sans-serif;
    border-style: solid;
    border-color:#4584FF ;
    padding:20px ;
    
    
}

.courseSubject{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 15px;
}

.line{
    height: 6px;
    background-color: #4584FF;
    border: none;
    margin-bottom: 15px;
}

.homework p{
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 15px;
}

.desription{
    overflow: hidden;
}

@media (max-width: 800px) {
    .homework{
        width: 500px;
    }
  }


  @media (max-width: 650px) {
    .homework{
        width: 400px;
    }
  }

  @media (max-width: 500px) {
    .homework{
        width: 300px;
    }
  }


  @media (max-width: 350px) {
    .homework{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
  }