.container {
    margin-top: 40px;
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .upTextWrapper{
      background-color:#4584FF ;
      width: max-content;
      padding-top: 5px;
      padding-right: 15px;
      padding-bottom: 2px;
  }
  
  .upText{
      color: white;
      font-size: 25px;
      margin-left: 2px;
  }


.cardsWrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
    gap: 40px;
}

@media (max-width: 800px) {
    .cardsWrapper{
        display: flex;
        justify-content: center;
    }
  }